<header class="page-header">
  <div class="container">
    <nav class="header-nav">
      <a href="./index.html" class="logo">
        <svg class="logo-icon" width="39" height="31">
          <use href="./images/symbol-defs.svg#icon-logo"></use>
        </svg>
        &nbsp;Finance <span>&nbsp;Ledger</span></a>
      <ul class="nav-list">
        <li class="nav-item"><a href="" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="" class="nav-link">About</a></li>
        <li class="nav-item"><a href="" class="nav-link">Cases</a></li>
        <li class="nav-item"><a href="" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>